form {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}

input {
  width: 18vw;
  height: 25%;
  border-radius: 30px;
  border: none;
  background-color: white;
  border: 4px solid #141313;
  font-size: 100%;
  text-align: center;
}

::placeholder {
  color: #141313;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #141313;
}

::-ms-input-placeholder {
  color: #141313;
}

@media screen and (max-width: 560px){
  input {
    width: 75vw;
    height: 50%;
  }
}
