.movie-details-container {
  color: white;
  display: flex;
  justify-content: space-between;
  /* flex-direction: column; */
  padding: 5%;
  padding-bottom: 0;
}

.movie-details {
  width: 50%;
}

.details-poster {
  height: 60vh;
  width: auto;
  padding: 5%;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  background-color: inherit;
  /* position: 'relative' */
}

.back-button {
  align-items: center;
  font-size: 24px;
  font-family: sans-serif;
  color: white;
  background-color: red;
  border-radius: 5px;
  padding: 8px, 12px;
  margin-bottom: 5vh;
}

.back-arrow-image {
  width: 6vw;
}

.back-arrow-container {
  /* background-color: #a9a9a9; */
  opacity: 0.8;
  width: 6%;
  height: 15%;
  border-radius: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-arrow-container:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.movie-title {
  font-size: 90px;
  font-weight: bold;
}

.basic-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 35vw;
}

.stats {
  font-size: 70px;
  font-weight: initial;
}

iframe:hover {
  cursor: pointer;
}