.movie-details-container {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5%;
}

.movie-details {
  width: 50%;
  opacity: .9;
}

.details-poster {
  height: 60vh;
  width: auto;
  padding: 5%;
}

.details-wrapper {
  display: flex;
  flex-direction: column;
  background-color: inherit;
}

.back-arrow-image {
  width: 6vw;
}

.back-arrow-container {
  opacity: 0.8;
  width: 6%;
  height: 15%;
  border-radius: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back-arrow-container:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.movie-title {
  font-size: 90px;
  font-weight: bold;
  padding: 0;
}

.basic-info {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  width: 35vw;
}

.basic-info,
.movie-title {
  margin-bottom: 3%;
}

.stats {
  font-size: 70px;
  font-weight: initial;
}

iframe:hover {
  cursor: pointer;
}
.movie-description {
  font-size: 30px;
  font-weight: initial;
}
